# API Configuration
NEXT_PUBLIC_API_URL=https://medfin.onrender.com

# Application Environment
NEXT_PUBLIC_APP_ENV=production

# Monitoring
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# Optional: Feature flags
# NEXT_PUBLIC_ENABLE_ANALYTICS=true
# NEXT_PUBLIC_ENABLE_ERROR_REPORTING=true
